<div class="main">
  <div class="container">
    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Angular 7 Property Binding</p>
      <p>
        In Angular 7, property binding is used to pass data from the component
        class (component.ts) and setting the value of the given element in the
        user-end (component.html). Property binding is an example of one-way
        databinding where the data is transferred from the component to the
        class. The main advantage of property binding is that it facilitates you
        to control elements property.
      </p>
    </blockquote>

    <div class="container">
      <img src="./assets/property.png" class="responsive" />
    </div>

    <div class="container">
      <img src="./assets/propety2.png" class="responsive" />
    </div>

    <div class="container">
      <img src="./assets/property3.png" class="responsive" />
    </div>
  </div>
</div>
