<div class="main">
  <div class="container">
    <h1 style="text-align: center;">Angualr Introduction</h1>
    <p class="lead">
      Angular is an open source JavaScript framework for building web
      applications and apps in JavaScript, html, and Typescript which is a
      superset of JavaScript. Angular provides built-in features for animation,
      http service, and materials which in turn have features such as
      auto-complete, navigation, toolbar, menus, etc. The code is written in
      Typescript, which compiles to JavaScript and displays the same in the
      browser.
    </p>

    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Why to Learn Angular 7?</p>
      <p>
        Angular 7 is a MUST for students and working professionals to become a
        great Software Engineer specially when they are working in Software
        Development Domain. I will list down some of the key advantages of
        learning Angular 7:
      </p>

      <ul>
        <li>
          Angular is the most stable and most popular javascript based platform
          now-a-days.
        </li>
        <li>
          Angular development is a complete suite for an application development
          and you can have following roles after learning Angular in a company.
        </li>

        <li>Web app developer</li>

        <li>UI developer</li>

        <li>UX developer</li>

        <li>Front-end developer</li>

        <li>JavaScript developer</li>
      </ul>
    </blockquote>

    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Applications of Angular 7</p>
      <p>
        As mentioned before, Angular 7 is one of the most widely used language
        over the web. I'm going to list few of them here:
      </p>

      <ul>
        <li>
          Google Supported Community - Google actively supports Angular and its
          development. Angular is used in various Google Apps..
        </li>
        <li>
          POJO based development - Angular heavily used Plain Old JavaScript
          Object and it helps in learning Angular in an easier way.
        </li>

        <li>
          Declarative User Interface - Angular uses HTML as view language and
          extends its functionality. It helps in handling UI vs code
          differentiation and UI is loosely coupled with code.
        </li>

        <li>
          Typescript - Typescript is super set of javascript and is easy to
          debug. It is highly secure and is object oriented.
        </li>

        <li>
          Modular Structure - Angular development is highly modular, is
          component based and is highly maintainable.
        </li>

        <li>
          Multi-platform support - Angular code works well on all platforms
          without much change in code.
        </li>
      </ul>
    </blockquote>

    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Audience</p>
      <p>
        This tutorial is designed for software programmers who want to learn the
        basics of Angular 7 and its programming concepts in a simple and easy
        manner. This tutorial will give you enough understanding on the various
        functionalities of Angular 7 with suitable examples.
      </p>
    </blockquote>

    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Prerequisites</p>
      <p>
        Before proceeding with this tutorial, you should have a basic
        understanding of HTML, CSS, JavaScript, Typescript, and Document Object
        Model (DOM).
      </p>
    </blockquote>
  </div>
</div>
