

<div class="main">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark"  [containerInside]="false">
    
        <mdb-navbar-brand><a class="navbar-brand" href="#"><h5 style="font-family: Arial,Bold;">ANGULAR TUTORIAL</h5></a></mdb-navbar-brand>
        <links>          
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" style="color:black;font-family: Arial,Bold;" mdbWavesEffect [routerLink]="['']">Home<span class="sr-only">(current)</span></a>
            </li>
           
           
           
          </ul>
      
          
        </links>
      
      </mdb-navbar>
    </div>
    
