<div class="main">
    <div class="container">
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Installation</p>
        <hr>
        <!-- Vertical Steppers -->
        <div class="row mt-1">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">

                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">Open mongodb.com</span>
                        </a>
                        <img src="./assets/mongo1.png" height="400px" style="margin-left: 50px;">
                    </li>
                    <!-- Second Step -->
                    <li class="active">
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Select community server</span>
                        </a>
                        <img src="./assets/mongo2.png" height="400px" style="margin-left: 50px;">
                        <p class="text">
                            Select os to windows X64 and download it
                        </p>
                    </li>
                    <li class="active">
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">3</span>
                            <span class="label">Open mongodb compass</span>
                        </a>
                        <img src="./assets/mongo3.png" height="400px" style="margin-left: 50px;">
                        <p class="text">
                            Click on connect 
                        </p>
                    </li>
                    <li class="active">
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Fouth step</span>
                        </a>
                        <img src="./assets/mongo4.png" height="400px" style="margin-left: 50px;">
                        <p class="text">
                            Click on create database
                        </p>
                    </li>
                    <li class="active">
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">5</span>
                            <span class="label">Fifth step</span>
                        </a>
                        <img src="./assets/mongo5.png" height="400px" style="margin-left: 50px;">
                        <p class="text">
                            Database name :- [name of your database]<br>
                            collection name :- [name of your table]
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
