<div class="main">
  <div class="container">
    <h1 style="text-align: center;">NgFor</h1>
    <blockquote class="blockquote bq-primary">
      <p class="bq-title">Angular 8 *ngFor Directive</p>
      <p>
        The *ngFor directive is used to repeat a portion of HTML template once
        per each item from an iterable list (Collection). The ngFor is an
        Angular structural directive and is similar to ngRepeat in AngularJS.
        Some local variables like Index, First, Last, odd and even are exported
        by *ngFor directive.
      </p>
    </blockquote>

    <blockquote class="blockquote bq-primary">
      <p class="bq-title">How to use ngFor Directive?</p>
      <p>
        To Use ngFor directive, you have to create a block of HTML elements,
        which can display a single item of the items collection. After that you
        can use the ngFor directive to tell angular to repeat that block of HTML
        elements for each item in the list.
      </p>
    </blockquote>

    <div class="container responsive">

        <img src="./assets/ngfor1.png"  class="img-fluid" alt="Responsive image">
    </div>


    <div class="container responsive">

        <img src="./assets/ngfor2.png"  class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
