<div class="main">
    <div class="container">
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Introduction</p>
        <hr>
        <p class="text">
            PostgreSQL is a powerful, open source object-relational database system that uses and extends the SQL
             language combined with many features that safely store and scale the most complicated data workloads. 
             The origins of PostgreSQL date back to 1986 as part of the POSTGRES project at the University of California 
             at Berkeley and has more than 30 years of active development on the core platform.
        </p>
        <br>
        <p class="text">
            PostgreSQL has earned a strong reputation for its proven architecture, reliability, data integrity, 
            robust feature set, extensibility, and the dedication of the open source community behind the software to 
            consistently deliver performant and innovative solutions. PostgreSQL runs on all major operating systems, 
            has been ACID-compliant since 2001, and has powerful add-ons such as the popular PostGIS geospatial database extender. 
            It is no surprise that PostgreSQL has become the open source relational database of choice for many people and organisations.
        </p>
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Installation</p>
        <hr>
        <ul>
            <li>Create a folder where all the angular projects are stored </li>
            <li>Open the folder and open cmd through that folder </li>
        </ul>
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Execute the following command :- </p>
        <hr>
        <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;">
            <p>
                npm i express pg
            </p>
        </div>
        <br>
        <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;">
            <p>
                npm i nodemon
            </p>
        </div>
        <br>
        <p class="text">This will help us to auto-refresh</p>
        <br>
        <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;">
            <p>
                npm i cors
            </p>
        </div>
        <br>
        <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;">
            <p>
                npm i body-parser
            </p>
        </div>
        <br>
        <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;">
            <p>
                npm i init
            </p>
        </div>
        <br>
        <p class="text">
            Give enter in all the fields except index.js and name your own file app.js.
            After all the installation steps ypu will get package.json file and node_modules.
            Now explicitly create a file named app.js.  Do the following code.
        </p>
        <div class="row mt-1">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">

                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">Open app.js</span>
                        </a>
                        <img src="./assets/postgre1.png" height="800px" style="margin-left: 50px;">
                    </li>
                    <!-- Second Step -->
                    <li class="active">
                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Create query.js</span>
                        </a>
                        <img src="./assets/postgre2.png" height="800px" style="margin-left: 50px;">
                    </li>
                </ul>
                <ul>
                    <li>Now open PgAdmin and create a database and give same name as given in line no 5</li>
                </ul>
            </div>
        </div>
    </div>
</div>

