<div class="main">
    <div class="container">
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">FirstApp</p>
        <hr>
        <div class="container">
            <div class="row mt-1">
                <div class="col-md-12">
                    <ul class="stepper stepper-vertical">
                        <li class="completed" style="margin-top: -45px;">
                            <a href="#!">
                                <span class="circle">1</span>
                                <span class="label">First step</span>
                            </a>
                            <div style="padding-left: 60px;">
                                <p>
                                    Create a folder and store all the angular projects in that
                                </p>
                            </div>
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle">2</span>
                                <span class="label">Second step</span>
                            </a>
                            <!-- Section Description -->
                            <div style="padding-left: 60px;">
                                <p>
                                    Open terminal from the following folder and write the command :
                                </p>
                            </div>
                            <div
                                style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                                <p>
                                    ng new app_name
                                </p>
                            </div>
                            <br>
                            <div style="padding-left: 60px;">
                                <h6>Example</h6>
                            </div>
                            <div
                                style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                                <p>
                                    ng new firstapp
                                </p>
                            </div>
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Third step</span>
                            </a>
                            <div style="padding-left: 60px;">
                                When the app is created one folder is created named same as the app name.
                                In your parent folder
                            </div>
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle">4</span>
                                <span class="label">Fouth step</span>
                            </a>
                            <div style="padding-left: 60px;">
                                <h4><strong>Open the folder of your app name and you will see some subfolders</strong>
                                </h4>
                                <ul>
                                    <li>e2e</li>
                                    <li>node_modules</li>
                                    <li>src</li>
                                </ul>
                                <h4><strong>src is the main folder of your project.Open the folder and you will see
                                        other subfolders</strong></h4>
                                <ul>
                                    <li>app</li>
                                    <li>assets</li>
                                    <li>environment</li>
                                </ul>
                            </div>
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                                <span class="circle">5</span>
                                <span class="label">Fifth step</span>
                            </a>
                            <div style="padding-left: 60px;">
                                <h4><strong>Open the your app folder and you will see some subfolders,ts,html,css
                                        files.</strong></h4>
                                <h4><strong>Files used in angular app folder :</strong></h4>
                                <ul>
                                    <li>
                                        <h4><strong>app folder :-</strong></h4>
                                        <p class="text">The app folder contains the files, you have created for app
                                            components. </p>
                                    </li>
                                    <li>
                                        <h4><strong>app.component.css :-</strong></h4>
                                        <p class="text">This file contains the cascading style sheets code for your app
                                            component. </p>
                                    </li>
                                    <li>
                                        <h4><strong>app.component.html :-</strong></h4>
                                        <p class="text">This file contains the html file related to app component.
                                            This is the template file which is used by angular to do the data binding.
                                        </p>
                                    </li>
                                    <li>
                                        <h4><strong>app.component.spec.ts :-</strong></h4>
                                        <p class="text">This file is a unit testing file related to app component.
                                            This file is used along with other unit tests.
                                            It is run from Angular CLI by the command ng test. </p>
                                    </li>
                                    <li>
                                        <h4><strong>app.component.ts :-</strong></h4>
                                        <p class="text">This is the most important typescript file which includes the
                                            view logic behind the component. </p>
                                    </li>
                                    <li>
                                        <h4><strong>app.module.ts :-</strong></h4>
                                        <p class="text">This is also a typescript file which includes all the
                                            dependencies for the website.
                                            This file is used to define the needed modules to be imported,
                                            the components to be declared and the main component to be bootstrapped.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                              <span class="circle">5</span>
                              <span class="label">Run your app</span>
                            </a>
                            <div style="padding-left: 60px;">
                               <p>
                                Open your command prompt and go to your project by 
                                using cd command and then run the ng serve command to compile and run your app.
                               </p> 
                            </div>
                            <div
                                style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                                <p>
                                    ng serve -o
                                </p>
                            </div>
                            <div style="padding-left: 60px;">
                                <h4>Now, you can see that your app is running now.</h4> 
                             </div>
                        </li>            
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
