<div class="main">
    <div class="container">
      <h1 style="text-align: center;">Event Binding</h1>
      <blockquote class="blockquote bq-primary">
        <p class="bq-title">Angular 8 EventBinding</p>
        <p>
            In this chapter, we will discuss how Event Binding works in Angular 4. When a user interacts with an application in the form of a keyboard movement, a mouse click, or a mouseover, it generates an event. These events need to be handled to perform some kind of action. This is where event binding comes into picture.
            Let us consider an example to understand this better.
        </p>
      </blockquote>

      <div class="container responsive">
  
        <img src="./assets/event1.png"  class="img-fluid" alt="Responsive image">
    </div>
  
      <blockquote class="blockquote bq-primary">
       
        <p>
            In the app.component.html file, we have defined a button and added a function to it using the click event.

            Following is the syntax to define a button and add a function to it.
            
            (click)="myClickFunction($event)"
            The function is defined in the .ts file: app.component.ts
        </p>
      </blockquote>
  
      <div class="container responsive">
  
          <img src="./assets/event2.png"  class="img-fluid" alt="Responsive image">
      </div>
  
  
      <div class="container responsive">
  
          <img src="./assets/event3.png"  class="img-fluid" alt="Responsive image">
      </div>
      <p>Let us now add the change event to the dropdown.

        The following line of code will help you add the change event to the dropdown </p>

        <div class="container responsive">
  
            <img src="./assets/event4.png"  class="img-fluid" alt="Responsive image">
        </div>
        <div class="container responsive">
  
            <img src="./assets/event5.png"  class="img-fluid" alt="Responsive image">
        </div>




    </div>
  </div>
  
