<div class="container my-5 py-5 z-depth-1">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="font-weight-bold">Material Design Blocks</h3>
        <p class="text-muted"></p>
          <a class="btn btn-primary" [routerLink]="['./angular']" role="button">Start now<i class="fa fa-gem ml-2"></i></a>
        
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/angular.png" class="img-fluid"
            alt="">
          <a [routerLink]="['./angular']">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->
</div>

<div class="container my-5 py-5 z-depth-1">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="font-weight-bold">Material Design Blocks</h3>
        
          <a class="btn btn-primary" [routerLink]="['./bootstrap']" role="button">Start now<i class="fa fa-gem ml-2"></i></a>
        
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/boot.png" style="height: 250px; margin-left: 90px;" class="img-fluid"
            alt="">
          <a [routerLink]="['./bootstrap']">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->
</div>

<div class="container my-5 py-5 z-depth-1">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="font-weight-bold">Material Design Blocks</h3>
        <p class="text-muted"></p>
        <a class="btn btn-primary" href="https://primefaces.org/primeng/showcase/#/setup" role="button">Start now<i class="fa fa-gem ml-2"></i></a>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/primeng1.png" style="height: 260px; margin-left: 90px;" class="img-fluid"
            alt="">
          <a  href="https://primefaces.org/primeng/showcase/#/setup">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->
</div>
  

 



<div style="background-color: #2196f3">
  <footer class="page-footer font-small pt-4">
  
    <div class="container text-center text-md-left">

     
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">AADD</h6>
          <p>A of Group Firends </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        

        <hr class="w-100 clearfix d-md-none">

       
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          
          <p>
            <i class="fas fa-home mr-3"></i>  Ahmedabad , Gujarat </p>
          
        </div>
      </div>
      <hr>
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left">© 2020 Copyright:
            <a>
              <strong>AADD</strong>
            </a>
          </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
