<div >
    <div class="container">
        <h1 style="text-align: center;">Ng if</h1>

        <div class="responsive">

            <img src="./assets/ngif1.png"  class="img-fluid" alt="Responsive image">
        </div>


        <div class="responsive">

            <img src="./assets/ngif2.png" class="img-fluid" alt="Responsive image">
        </div>


        <blockquote class="blockquote bq-primary">
            <p class="bq-title">*ngIf directive with an Else condition</p>

            <div class="responsive">

                <img src="./assets/if4.png"  class="img-fluid" alt="Responsive image">
            </div>


            </blockquote>




    </div>
</div>
