<div>
  <div class="container">
    <h1 style="text-align: center;">Data Binding</h1>

    <p class="lead">
      Data Binding is available right from AngularJS, and all the versions of
      Angular released later on. We use curly braces for data binding - this
      process is called interpolation. We have already seen in our previous
      examples how we declared the value to the variable title and the same is
      printed in the browser. The variable in the app.component.html file is
      referred as and the value of title is initialized in the app.component.ts
      file and in app.component.html, the value is displayed. Let us now create
      a dropdown of months in the browser. To do that, we have created an array
      of months in app.component.ts as follows − browser.
    </p>
    <div class="container">
      <img src="./assets/data.png" class="responsive"  class="img-fluid" alt="Responsive image" />
    </div>

    <p class="lead">
      The variable that is set in the app.component.ts can be binded inside the
      app.component.html using the curly brackets.  Let us now
      display the data in the browser based on condition. Here, we have added a
      variable and assigned the value as true. Using the if statement, we can
      hide/show the content to be displayed.
    </p>


    <div class="container">
        <img src="./assets/data2.png" class="responsive"  class="img-fluid" alt="Responsive image" />
      </div>

      


  </div>
</div>
