<div class="main">
    <div class="container">
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Installation</p>
        <hr>
        <p class="text">
            We will discuss the Environment Setup required for Angular . 
            To install Angular, we require the following −
        </p>
        <ul>
            <li>Nodejs</li>
            <li>Npm</li>
            <li>Angular CLI</li>
            <li>IDE for writing code</li>
        </ul>
        <p class="text">
            Angular requires the Nodejs version 10.9.0 or later
        </p>
        <p class="h1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Nodejs</p>
        <hr>
        <p class="text">
            To check if nodejs is installed on your system, type <strong>node -v</strong>  in the terminal. 
            This will help you see the version of nodejs currently installed on your system.
            If it does not print anything, install nodejs on your system.
        </p>
        <div class="container">
            <div class="row mt-1" >
                <div class="col-md-12">
                    <ul class="stepper stepper-vertical">
                        <li class="completed" style="margin-top: -45px;">
                            <a href="#!">
                                <span class="circle">1</span>
                                <span class="label">Open nodejs.org</span>
                            </a>
                            <img src="./assets/nodejs.png" width="400px" height="300px" style="margin-left: 60px;">
                        </li>
                        <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                              <span class="circle">2</span>
                              <span class="label">Check your node version</span>
                            </a>
                            <!-- Section Description -->
                            <div style="padding-left: 60px;">
                              <p>
                                  Once you have installed node.js open in the prompt. 
                                  To check the version node -v in terminal window
                              </p>
                            </div>
                          </li>
                          <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                              <span class="circle">3</span>
                              <span class="label">Use npm to install angular cli</span>
                            </a>
                            <!-- Section Description -->
                            <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                              <p>
                                  npm install -g @angular/cli
                              </p>
                            </div>
                            <br>
                            <h4 style="margin-left: 60px;">OR</h4>
                            <br>
                            <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                                <p>
                                    npm install -g @angular/cli@latest
                                </p>
                              </div>
                          </li>
                          <li class="active">
                            <!--Section Title -->
                            <a href="#!">
                              <span class="circle">4</span>
                              <span class="label">Check your installed version</span>
                            </a>
                            <!-- Section Description -->
                            <div style="height: 50px;width: 750px;padding: 14px;background-color: #37474F;color: whitesmoke;margin-left: 60px;">
                              <p>
                                  ng --version
                              </p>
                            </div>
                          </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
