<div class="container">
    <div style="padding:1em;line-height:1.5">
      
        <p style="padding-top: 30px;">Module in Angular refers to a place where you can group the components,
            directives, pipes, and services, which are related to the application.</p><br>

        <p>In case you are developing a website, the header, footer, left, center and the right section become part of a
            module.</p><br>

        <p>To define module, we can use the NgModule. When you create a new project using the Angular –cli command, the
            ngmodule is
            created in the <b>app.module.ts</b> file by default and it looks as follows :−</p><br>

        <img src=".\assets\ngmodule1.png" alt="" style="width: 60%;height: 500px;margin-left: 160px;">

        <p style="padding-top: 20px;">The <b>NgModule</b> needs to be imported as follows :−</p><br>

        <img src=".\assets\ngmodule2.png" alt="" style="width: 60%;height: 400px;margin-left: 160px;">

      
    </div>
    </div>
